<!-- canh phải thì dùng d-flex -->
<div class="d-flex justify-content-end">
    <button class="btn btn-danger float-right" id="demo"></button>
</div>

<form action="" #formControl="ngForm" (ngSubmit)="onSubmit(formControl)">
    <!-- <button type="submit">coi formControl</button> -->
    <div class="container">
        <div class="card" *ngFor="let quiz of Quizs| paginate: { itemsPerPage: 1, currentPage: cur }">
            <div class="card-header" style="background: greenyellow;">
                {{tenMonHoc}}
            </div>
            <div class="card-body bg-dark text-white">
                <div class="row alert alert-danger">{{quiz.Text}}</div>
                <hr>
                <!-- form chứa 4 đáp án -->
                <form action="">
                    <div class="form-group">
                        <!-- 1 cái form check là 1 cái radio button -->
                        <div class="form-check" *ngFor="let x of quiz.Answers">
                            <!-- <input class="form-check-input" type="radio" name="{{quiz.Id}}" value="{{x.Id}}"
                                [(ngModel)]="dapAnUser">
                            <label class="form-check-label">
                                {{x.Text}}
                            </label> -->

                            <label class="container">{{x.Text}}
                                <input type="radio" name="{{quiz.Id}}" value="{{x.Id}}" [(ngModel)]="dapAnUser">
                                <span class="checkmark"></span>
                            </label>


                        </div>
                        <br>

                        <button class="btn btn-primary" (click)="submit(quiz)">Submit</button>
                        <!-- <button class="btn btn-primary" (click)="Next">Next</button> -->
                    </div>
                </form>





            </div>
            <div class="card-footer text-muted alert " style="background: greenyellow;">
                <span style="font-weight: bold;color:black">Mark: {{mark}}/{{Quizs.length}}</span>
            </div>
        </div>
        <br><br>
        <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
    </div>

</form>