<div class="container">
    <div [hidden]="hiddenbaoloi">
        <h4 class="alert alert-danger">Username hoặc Email không đúng !</h4>
    </div>

    <div [hidden]="hiddenshowpass">
        <h4 class="alert alert-success">Your password is: <span style="color:#e74c3c">{{student.password}}</span></h4>
    </div>


    <h1 style="color:green   ;text-align:center">Quên mật khẩu</h1>
    <div>
        <div class="mb-3">
            <label for="validationCustom01">Username</label>
            <input type="text" class="form-control" id="validationCustom01" [(ngModel)]="formSudent.username"
                [ngModelOptions]="{standalone: true}" placeholder="Nhập username của bạn">
        </div>

        <div class=" mb-3">
            <label for="validationCustomUsername">Email</label>
            <div class="input-group">
                <input type="text" class="form-control" id="validationCustomUsername" placeholder="Nhập email của bạn"
                    [(ngModel)]="formSudent.email" [ngModelOptions]="{standalone: true}">
            </div>
        </div>
    </div>
    {{formSudent.username}}
    {{formSudent.email}}

    
    <div>
        <button class="btn btn-success mb-2" (click)="HienThiMatKhau()">Submit</button>
    </div>





</div>