<div class="glow">
    <marquee behavior="scroll" direction="right" scrollamount="10">Welcome <span
            style="color:red">{{this.y.username}}</span>
        to our website</marquee>
    <marquee behavior="scroll" direction="left" scrollamount="12">Đây là trang web thi trắc nghiệm Online free</marquee>
</div>
<br>


<div class="row">
    <div class="col-6" *ngFor="let monHoc of listMonHoc | paginate: { itemsPerPage: 4, currentPage: p } ">
        <div class="card text-center">
            <a [routerLink]="['/thiTN',monHoc.Id]" style="text-decoration: none;">
                <div>
                    <img src="../../assets/images/{{monHoc.Logo}}" alt="..." width="50%">
                </div>
                <div class="card-footer text-muted" style="height: auto; ">
                    {{monHoc.Name}}
                </div>
            </a>
        </div>
        <br>
    </div>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>

<!-- {{this.y.getTen()}} -->
<!-- phải chuyển y sang public mới sài được -->