<!-- <H4>About Me: Vũ Duy Tiến Phát (Hình ảnh chỉ mang tính trang trí <i class="far fa-smile-beam"></i> )</H4>
<img src="https://www.thebalancecareers.com/thmb/9-rS4kHFhFqQJBB8DnToGsZ7_HM=/950x0/how-to-write-about-me-page-examples-4142367-FINAL-ff212f14c0294f2b962695ff84455890.png"
    class="responsive" alt=""> -->
<hr>
<h2 style="text-align: center;font-weight: bold;color: red;">Giới thiệu</h2>
<div class="row">

    <h2><i class="fas fa-hand-point-right"></i> HỆ THỐNG LUYỆN THI TRẮC NGHIỆM TRỰC TUYẾN CỦA HS,SV VIỆT NAM</h2>

    <h2><i class="fas fa-hand-point-right"></i> Được biên soạn bởi những GIÁO VIÊN GIỎI,KINH NGHIỆM</h2>
    <h2><i class="fas fa-hand-point-right"></i> Đã giúp nhiều HS,SV tăng kiến thức và điểm số, tiến bộ vượt trội </h2>
    <h2><i class="fas fa-hand-point-right"></i> Hệ thống câu hỏi đa dạng, phong phú</h2>



</div>

<div class="row">
    <div class="col-6">
        <img src="../../assets/gioithieu1.jpg" alt="" width="100%">
    </div>
    <div class="col-6">
        <img src="../../assets/gioithieu2.png" alt="" width="100%">
    </div>
    <div class="col-6">
        <img src="../../assets/gioithieu3.png" alt="" width="100%">
    </div>
    <div class="col-6">
        <img src="../../assets/gioithieu4.png" alt="" width="100%">
    </div>
</div>